.dashboard {
  > .dashboard-view {
    padding: 2px 5px;
    height: 529px;
    overflow-y: auto;
    background-color: white;
    & .online-title {
      height: 20px;
    }
    & .online-user-container {
      max-height: 500px;
      overflow-y: auto;
    }
    & .user-online {
      color: green;
    }
  }
}